<h1>Observations#new</h1>
<p>Find me in app/views/observations/new.html.erb</p>

<% if logged_in? %>
  drop


  <%= form_for @observation, html: {class: "observation_form"} do |f| %>

  <p> Do you want to make an observation on a procedure or a experiment? </p>
  <%= f.select :observable_type, ["Procedure", "Experiment"] %>
  <p> whats the  of the object you observing? </p>
  <%= f.number_field :observable_id %>
  <%=f.hidden_field :user_id, :value => @observation.user_id %>
    <p><%= f.hidden_field :body %></p>
  <p> whats is your observation? </p>
    <p><%= f.text_area :body, size: "60x12" %></p>
    <p><%= f.submit "Submit" %></p>
  <% end %>



  <ul>

<% end %>


