<h1>Proposal#show</h1>
<p>Find me in app/views/proposal/show.html.erb</p>
here is the proposal info
<%= @proposal.name %>
<%= @proposal.summary %>
<%= @proposal.state %>
<%= @proposal.hypothesis %>
<%= @proposal.proposer_id %>

