<h1>Proposal#show</h1>
<p>Find me in app/views/proposal/show.html.erb</p>
here is the proposal info
<%= @proposal.name %>
<%= @proposal.summary %>
<%= @proposal.state %>
<%= @proposal.hypothesis %>
<%= @proposal.proposer_id %>



<% if logged_in? %>

  <%= form_for @comment, url: {action: "comments#create"}, html: {class: "comment_form"} do |f| %>
  <%f.hidden_field :commentable_id, :value => @proposal.id%>
  <%f.hidden_field :commentable_type, :value => "proposal" %>
  <%f.hidden_field :user_id, :value => @proposal.proposer_id %>
    <p><%= f.label :body %></p>
    <p><%= f.text_field :body %></p>
    <p><%= f.submit "Submit" %></p>
  <% end %>

  <h5> here are the comments </h5>
  <ul>
  <% @proposal.comments.each do |comment| %>

    <li><%=comment.body%></li>

  <%end%>

<% end %>

