<h1>Proposal</h1>


here is the proposal info<br>
name: <%= @proposal.name %><br>
summary: <%= @proposal.summary %><br>
state: <%= @proposal.state %><br>
hypothesis: <%= @proposal.hypothesis %><br><br>

List of experimenters who worked on this proposal<br><br>
<% @proposal.experiments.each do |experiment| %>
  experimenter name: <%=experiment.experimenter.username%><br>
  <%= link_to 'click here', proposal_experiment_path(@proposal, experiment) %> to see results and conclusions of experiment<br><br>
<% end %><br>

<% if @proposal.state == "open" %>

<%= render "errors" %>

<%= form_for [@proposal, @experiment] do |f| %>
  <p><%= f.submit "Create new experiment" %></p>
<% end %>

<% end %>
<%= link_to 'Back', proposals_path %>


<% if logged_in? %>
<p> Do you have any comments for this proposal? </p>
  <%= form_for @comment, html: {class: "comment_form"} do |f| %>
  <%=f.hidden_field :commentable_id, :value => @proposal.id%>
  <%=f.hidden_field :commentable_type, :value => @proposal.class %>
  <%=f.hidden_field :user_id, :value => @proposal.proposer_id %>
    <p><%= f.hidden_field :body %></p>
    <p><%= f.text_field :body %></p>
    <p><%= f.submit "Submit" %></p>
  <% end %>

  <h5> here are the comments </h5>

  <ul>

<% end %>


<% @proposal.comments.each do |comment| %>

  <li><%=comment.body%></li>

<%end%> <br>

<% if current_user == @proposal.proposer && @proposal.state == "open"%>
  <a href="/proposals/close/<%=@proposal.id%>">close proposal</a>
<% end %>
